/*

this file holds the logic for the various components in the project.

*/


// BUTTONS
.btn {
	text-align: center;
	padding: 15px;
	display: inline-block;
}

.btn-confirm {
	background-color: $secondary-bkg;
	color: $secondary-text-color;
}

.btn-deny {
	background-color: $bkg;
	color: $primary-text-color;
	border: 2px solid $secondary-bkg;
}