/* _grid.scss

this file holds all the grid component logic

*/
.container {
	width: 100vw;
	height: 100vh;

	/* CSS Grid properties */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 10fr 1fr;
	/* split the grid */
	grid-template-areas:
	"navbar navbar navbar"
	"content content content"
	"footer footer footer";
}

/* grid area classes */
.nav {
	grid-area: navbar;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
}