/* tokens.scss

this file is for variables used in the SCSS. add any tokens you need here.

*/
$black: #030303;
$white: #F4F4F4;

$primary-color: #e2004b;
$secondary-color: #00b1e2;
$bkg: $black;
$secondary-bkg: $white;

$font-stack: Helvetica, sans-serif;
$primary-text-color: $white;
$secondary-text-color: $black;


