/*

the main SCSS file that imports the partials, and holds any css resets and body properties

*/
@import 'tokens';
@import 'grid';
@import 'components';

body {
	background: $bkg;
	font-family: $font-stack;
	color: $primary-text-color;
}